.cyan {
    color: #2FBCC0;    
}
.grey {
    color: #4A4A4A;
}
.red {
    color: red;
}


.tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
}
.tile_count .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    color: #4A4A4A; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count {
        margin-bottom: 10px;
        border-bottom: 0;
        padding-bottom: 10px
    }
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count:first-child:before {
        border-left: 0
    }
}
.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600
}
@media (min-width: 768px) {
    .tile_count .tile_stats_count .count {
        font-size: 40px
    }
}
@media (min-width: 992px) and (max-width: 1100px) {
    .tile_count .tile_stats_count .count {
        font-size: 30px
    }
}
.tile_count .tile_stats_count span {
    font-size: 13px
}
@media (min-width: 768px) {
    .tile_count .tile_stats_count span {
        font-size: 20px
    }
}
.tile_count .tile_stats_count .count_bottom i {
    width: 12px
}